{{#if this.shown}}
    {{#if this.incomingEvents.length}}
    <div class='incoming-events__wrapper'>
        <div class='incoming-events__container'>
            <div class='incoming-events__title'>
                {{this.title}}
            </div>
            
            <div class='incoming-events__list'>
                {{#each this.incomingEvents as |evt|}}
                    <div class="incoming-events__listitem">
                        <div class="incoming-events__listitem__date">
                            <div class="incoming-events__listitem__date1">{{evt.Date}}</div>
                            <div class="incoming-events__listitem__date2">{{evt.MonthYear}}</div>
                        </div>
                        <div class="incoming-events__lisitem__content">
                            
                            {{#if evt.ImgUrl.length }}
                                <a id="event_link" href="{{evt.Url}}" target="_blank">
                                    <div class="incoming-events__lisitem__content_img">
                                        <img src="{{evt.ImgUrl}}" alt="{{evt.EventName}}" width="100%"/>
                                    </div>
                                </a>
                            {{/if}}
                            <div class="incoming-events__lisitem__content_name">
                                <a id="event_link" href="{{evt.Url}}" target="_blank">
                                    <div class="incoming-events__listitem__title">{{evt.EventName}}</div>
                                </a>
                            </div>
                            {{#if this.login}}
                                {{#if evt.DocUrl}}
                                    <a id="event_link" href="{{evt.DocUrl}}" target="_blank">
                                        <div class="incoming-events__listitem__doc">ดาวโหลดเอกสาร</div>
                                    </a>
                                {{/if}}
                                
                            {{/if}}
                            
                        </div>
                        
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
    {{/if}}
{{/if}}